<div class="account-pages mt-5 mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card">
          <div class="card-header pt-4 pb-4 text-center bg-info">
            <a href="#" class="text-white text-uppercase" style="font-size:1.2rem;">
              <span>HOTEL INSIGHT CRM</span>
            </a>
          </div>
          <div class="card-body p-4 text-center">
            <div>
              <h2 class=""><%= t('devise.passwords.new.reset_password') %></h2>
              <p class=""><%= t('devise.passwords.expired.message_html') %></p>
            </div>
            <%= link_to "<button class='btn btn-info'>#{t('devise.passwords.new.reset_password')}</button>".html_safe, new_admin_password_path %>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 text-center">
            <p class="text-muted"><%= link_to "<b>#{t('devise.sessions.new.sign_in')}</b>".html_safe, new_user_session_path, 
              class: "text-muted ml-1" %><%= t('devise.shared.links.back_to') %></p>
          </div> <!-- end col -->
        </div>
      </div>
    </div>
  </div>
</div>