<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

  <!-- LOGO -->
  <a href="index.html" class="logo text-center logo-light">
    <span class="text-white brand-text font-weight-bold">LINE INSIGHT</span>
  </a>

  <!-- LOGO -->
  <a href="index.html" class="logo text-center logo-dark">
    <span class="logo-lg">
      <img src="/images/logo-dark.png" alt="" height="16">
    </span>
    <span class="logo-sm">
      <img src="/images/logo_sm_dark.png" alt="" height="16">
    </span>
  </a>

  <div class="h-100" id="left-side-menu-container" data-simplebar>

    <!--- Sidemenu -->
    <ul class="metismenu side-nav">

      <li class="side-nav-item">
        <%= link_to user_root_path, class: "side-nav-link #{controller?(" user/home") ? 'active' : '' }" do %>
          <i class="uil-home-alt"></i>
          <span> ホーム </span>
        <% end %>
      </li>

      <li class="side-nav-title side-nav-item">1対1トーク</li>
      <!-- トーク -->
      <li class="side-nav-item">
        <%= link_to user_channels_path, class: "side-nav-link #{controller?(" user/channels") ? 'active' : '' }" do %>
          <i class="uil-comments-alt"></i>
          <span class="badge badge-success float-right">4</span>
          <span> 個別トーク </span>
        <% end %>
      </li>

      <!-- 友達一覧 -->
      <li class="side-nav-item">
        <%= link_to user_friends_path, class: "side-nav-link #{controller?(" user/friends") ? 'active' : '' }" do %>
          <i class="uil-users-alt"></i>
          <span> 友達一覧 </span>
        <% end %>
      </li>

      <li class="side-nav-title side-nav-item">メッセージ</li>
      <!-- シナリオ -->
      <li class="side-nav-item">
        <%= link_to user_scenarios_path, class: "side-nav-link #{controller?(" user/scenarios", "user/scenario_messages" ) ? 'active' : '' }" do %>
          <i class="uil-message"></i>
          <span> 一斉配信 </span>
        <% end %>
      </li>

      <!-- 一斉配信 -->
      <li class="side-nav-item">
        <%= link_to user_broadcasts_path, class: "side-nav-link #{controller?(" user/auto_responses" ) ? 'active' : '' }" do %>
          <i class="uil-sort-amount-down"></i>
          <span> シナリオ配信 </span>
        <% end %>
      </li>

      <!-- テンプレート -->
      <li class="side-nav-item">
        <%= link_to user_templates_path, class: "side-nav-link #{controller?(" user/templates" ) ? 'active' : '' }" do %>
          <i class="uil-box"></i>
          <span> テンプレート</span>
        <% end %>
      </li>

      <!-- リッチメニュー -->
      <li class="side-nav-item">
        <%= link_to user_rich_menus_path, class: "side-nav-link #{controller?(" user/rich_menus" ) ? 'active' : '' }" do %>
          <i class="uil-th-large"></i>
          <span>リッチメニュー</span>
        <% end %>
      </li>

      <li class="side-nav-title side-nav-item">友だち属性</li>
       <!-- リッチメニュー -->
      <li class="side-nav-item">
        <%= link_to user_tags_path, class: "side-nav-link #{controller?("user/tags" ) ? 'active' : '' }" do %>
          <i class="uil-tag-alt"></i>
          <span>タグ管理</span>
        <% end %>
      </li>

      <li class="side-nav-title side-nav-item">コンテンツ</li>
      <!-- 登録メディア一覧 -->
      <li class="side-nav-item">
        <%= link_to user_medias_path, class: "side-nav-link #{controller?("user/medias" ) ? 'active' : '' }" do %>
          <i class="uil-scenery"></i>
          <span>登録メディア一覧</span>
        <% end %>
      </li>

      <li class="side-nav-title side-nav-item">設定</li>
      <li class="side-nav-item">
        <%= link_to user_setting_index_path, class: "side-nav-link #{controller?("user/setting" ) ? 'active' : '' }" do %>
          <i class="uil-cog"></i>
          <span>アカウント設定</span>
        <% end %>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <!-- Sidebar -left -->
</div>
<!-- Left Sidebar End -->