  <aside class="main-sidebar elevation-4 sidebar-light-success">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link navbar-success">
      <span class="text-white brand-text font-weight-bold">LINE MONSTER</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <%= link_to '<i class="nav-icon fas fa-home"></i><p>ホーム</p>'.html_safe,
              user_root_path,
              class: "nav-link #{controller?("user/home") ? 'active' : ''}"
            %>
          </li>
        </ul>

        <!-- トーク -->
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <%= link_to '<i class="nav-icon fas fa-comment-dots"></i><p>個別トーク</p>'.html_safe,
              user_channels_path,
              class: "nav-link #{controller?("user/channels") ? 'active' : ''}"
            %>
          </li>
        </ul>

        <!-- Friend List -->
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <%= link_to '<i class="nav-icon fas fa-users"></i><p>友達一覧</p>'.html_safe,
              user_friends_path,
              class: "nav-link #{controller?("user/friends") ? 'active' : ''}"
            %>
          </li>
        </ul>

        <!-- Broadcast List -->
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <%= link_to '<i class="nav-icon fa fa-paper-plane"></i><p>一斉配信</p>'.html_safe,
              user_broadcasts_path,
              class: "nav-link #{controller?("user/broadcasts") ? 'active' : ''}"
            %>
          </li>
        </ul>

        <!-- Scenario List -->
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <%= link_to '<i class="nav-icon fa fa-clipboard-list"></i><p>シナリオ配信</p>'.html_safe,
              user_scenarios_path,
              class: "nav-link #{controller?("user/scenarios", "user/scenario_messages") ? 'active' : ''}"
            %>
          </li>
        </ul>

        <!-- Auto Response -->
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <%= link_to '<i class="nav-icon fas fa-robot"></i><p>自動応答</p>'.html_safe,
              user_auto_responses_path,
              class: "nav-link #{controller?("user/auto_responses") ? 'active' : ''}"
            %>
          </li>
        </ul>

        <!-- Template -->
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <%= link_to '<i class="nav-icon fas fa-clipboard-list"></i><p>テンプレート</p>'.html_safe,
              user_templates_path,
              class: "nav-link #{controller?("user/templates") ? 'active' : ''}"
            %>
          </li>
        </ul>

        <!-- Tag -->
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <%= link_to '<i class="nav-icon fas fa-tag"></i><p>タグ管理</p>'.html_safe,
              user_tags_path,
              class: "nav-link #{controller?("user/tags") ? 'active' : ''}"
            %>
          </li>
        </ul>

        <!-- Media -->
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <%= link_to '<i class="nav-icon fas fa-images"></i><p>コンテンツ管理</p>'.html_safe,
              user_medias_path,
              class: "nav-link #{controller?("user/medias") ? 'active' : ''}"
            %>
          </li>
        </ul>

        <!-- Account Setting -->
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <%= link_to '<i class="nav-icon fas fa-home"></i><p>アカウント設定</p>'.html_safe,
              user_setting_index_path,
              class: "nav-link #{controller?("user/setting") ? 'active' : ''}"
            %>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>