<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">メッセージ</li>
          <li class="breadcrumb-item"><%= link_to "シナリオ一覧", user_scenarios_path %></li>
          <li class="breadcrumb-item"><%= @scenario.title.truncate(10) %></li>
          <li class="breadcrumb-item active">メッセージ一覧</li>
        </ol>
      </div>
      <h4 class="page-title">メッセージ一覧</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <%= link_to new_user_scenario_message_path do %>
          <button type="button" class="btn btn-success mr-2"><i class="fa fa-plus"></i> メッセージを追加</button>
        <% end %>
        
        <scenario-select-template :scenario_id="<%= @scenario.id %>"></scenario-select-template>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered index">
          <%# Header %>
            <thead>
              <tr>
                <th class="fw-100">日数</th>
                <th class="fw-200">時刻</th>
                <th>タイトル</th>
                <th>タイプ</th>
                <th>メッセージプレビュー</th>
                <th class="fw-120">状況</th>
                <th class="fw-200">操作</th>
              </tr>
            </thead>
            <%# Data %>
            <tbody>
              <% @messages.each do |message| %>
                <tr>
                  <td><%= schedule_date_for(@scenario, message) %></td>
                  <td><%= schedule_time_for(@scenario, message) %></td>
                  <td><%= message.name %></td>
                  <td><message-type-label :data="<%= message.content.to_json %>"/></td>
                  <td><message-content :data="<%= message.content.to_json %>"></message-content></td>
                  <td><%= render_scenario_message_status(message.status) %></td>
                  <td>
                    <%= link_to '編集', edit_user_scenario_message_path(@scenario, message), class: "btn btn-warning btn-xs" %>
                    <%= link_to '削除', delete_confirm_user_scenario_message_path(scenario_id: @scenario.id, id: message), remote: true, class: "btn btn-danger btn-xs" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%# Pagination %>
        <div class="d-flex justify-content-center mt-4">
          <% if @messages.size == 0 %>
            <b>データはありません。</b>
          <% end %>
          <%= paginate @messages %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='confirmDelContent'></div>