<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <%= link_to user_scenarios_path, class: "btn text-info" do %>
          <i class="fa fa-arrow-left"></i>シナリオ一覧
        <% end %>

        <span class="m-auto font-weight-bold">「<%= @scenario.title %>」のメッセージ一覧</span>
        
        <%= link_to new_user_scenario_message_path do %>
          <button type="button" class="btn btn-success mr-2"><i class="fa fa-plus"></i> メッセージを追加</button>
        <% end %>
        <button type="button" class="btn btn-primary mr-2"><i class="fa fa-plus"></i> テンプレートを追加</button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped index">
          <%# Header %>
            <thead>
              <tr>
                <th class="fw-100">日数</th>
                <th class="fw-200">時刻</th>
                <th>タイトル</th>
                <th>タイプ</th>
                <th>メッセージプレビュー</th>
                <th class="fw-200">操作</th>
              </tr>
            </thead>
            <%# Data %>
            <tbody>
              <% @messages.each do |message| %>
                <tr>
                  <% if @scenario.mode_date? %>
                    <td><%= message.is_initial? == 0 ? '開始当日' : "#{message.date}日後" %></td>
                    <td><%= message.time %> <span class="ml-2"><%= message.order %>通目</span></td>
                  <% elsif @scenario.mode_elapsed_time? %>
                    <td><%= message.is_initial ? '開始当日' : '' %></td>
                    <td><%= message.is_initial? ? "#{message.order}通目" : "#{message.date}日#{message.time&.to_time.strftime('%-H時間%-M分')}後 #{message.order}通目" %></td>
                  <% end %>
                  <td><%= message.name %></td>
                  <td><message-type-label :data="<%= message.content.to_json %>"/></td>
                  <td><view-message-content :data="<%= message.content.to_json %>"></view-message-content></td>
                  <td>
                    <div class="btn btn-warning btn-xs">編集</div>
                    <%= link_to '削除', delete_confirm_user_scenario_message_path(scenario_id: @scenario.id, id: message), remote: true, class: "btn btn-danger btn-xs" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%# Pagination %>
        <div class="d-flex justify-content-center mt-4">
          <% if @messages.size == 0 %>
            <b>データはありません。</b>
          <% end %>
          <%= paginate @messages %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='confirmDelContent'></div>