<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <!-- Start: search condition -->
        <%= search_form_for @q, url: search_user_friends_path do |f| %>
        <div class="d-flex">
          <%= f.search_field :line_name_or_display_name_cont, placeholder: "ユーザー名", class: "form-control fw-300" %>
          <%= f.select :status_eq,
            options_for_select(LineFriend.statuses.keys.map{ |t| [I18n.t("enums.line_friend.status.#{t}"), t] }, @params.present? && @params[:status_eq]), {include_blank: 'すべて状況'}, 
            class: "form-control select2bs4 fw-200 ml-2" %>
          <button class="btn btn-success btn-normal ml-2 search-button" type="submit">検索</button>
        </div>
        <% end %>
        <!-- End: search condition -->
      </div>
      <div class="card-body">
        <table class="table table-centered mb-0">
        <%# Header %>
          <thead>
            <tr>
              <th><%= sort_link(@q, :name, '名前', default_order: :asc) %></th>
              <th><%= sort_link(@q, :created_at, '登録日時', default_order: :asc) %></th>
              <th>タグ</th>
              <th>状況</th>
              <th>操作</th>
            </tr>
          </thead>
          <%# Data %>
          <tbody>
            <% @line_friends.each do |line_friend| %>
              <tr>
                <td class="table-user">
                  <img src="<%= line_friend.line_picture_url || '/img/no-image-profile.png' %>" alt="table-user" class="mr-2 rounded-circle" />
                  <%= line_friend.line_name %>
                </td>
                <td><%= formatted_time(line_friend.created_at) %></td>
                <td>なし</td>
                <td>
                  <%= render_friend_status(line_friend.status) %>
                </td>
                <td class="table-action">
                  <%= link_to user_friend_path(line_friend), class: "action-icon" do %>
                    <i class="mdi mdi-pencil"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%# Pagination %>
        <div class="d-flex justify-content-center mt-4">
          <% if @line_friends.size == 0 %>
            <b>データはありません。</b>
          <% end %>
          <%= paginate @line_friends %>
        </div>
      </div>
    </div>
  </div>
</div>
