<div class="mw-1200" >
  <div class="card">
    <div class="card-header d-flex">
      <h5 class="m-auto font-weight-bold">アカウント情報</h5>
    </div>
    <div class="card-body">
      <table class="table table-bordered text-left">
        <tbody>
          <tr>
            <th class="fw-300">表示名</th>
            <td><%= @line_account.display_name %></td>
          </tr>
          <tr>
            <th class="fw-300">LINEアカウント名</th>
            <td><%= @line_account.line_name %></td>
          </tr>
          <tr>
            <th class="fw-300">LINE公式アカウントID</th>
            <td><%= @line_account.line_user_id %></td>
          </tr>
          <tr>
            <th class="fw-300">チャネルID</th>
            <td><%= @line_account.line_channel_id %></td>
          </tr>
          <tr>
            <th class="fw-300">チャネルシークレット</th>
            <td><%= @line_account.line_channel_secret %></td>
          </tr>
          <tr>
            <th class="fw-300">Webhook URL</th>
            <td><%= "#{ENV['MIX_ROOT_PATH']}/webhooks/#{@line_account.webhook_url}" %></td>
          </tr>
          <tr>
            <th class="fw-300">LIFF ID</th>
            <td><%= @line_account.liff_id %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer d-flex">
      <%= link_to edit_user_setting_index_path, class: "btn btn-success btm-sm m-auto" do %>
        編集
      <% end %>
    </div>
  </div>
</div>