  <!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">
  <!-- LOGO -->
  <a href="index.html" class="logo ml-4 logo-light">
    <span class="text-white brand-text font-weight-bold">LINE CMS</span>
  </a>

  <div class="h-100" id="left-side-menu-container" data-simplebar>
    <!--- Sidemenu -->
    <ul class="metismenu side-nav">

      <li class="side-nav-item <%= controller?("admin/accounts") ? 'mm-active' : '' %>">
        <%= link_to admin_accounts_path, class: "side-nav-link #{controller?("admin/accounts") ? 'active' : '' }" do %>
          <i class="uil-users-alt"></i>
          <span> 管理者管理 </span>
        <% end %>
      </li>

      <li class="side-nav-item <%= controller?("admin/users") ? 'mm-active' : '' %>">
        <%= link_to admin_users_path, class: "side-nav-link #{controller?("admin/users") ? 'active' : '' }" do %>
          <i class="uil-users-alt"></i>
          <span> クライアント一覧 </span>
        <% end %>
      </li>

      <!-- トーク -->
      <li class="side-nav-item <%= controller?("admin/announcements") ? 'mm-active' : '' %>">
        <%= link_to admin_announcements_path, class: "side-nav-link #{controller?("admin/announcements") ? 'active' : '' }" do %>
          <i class="uil-comments-alt"></i>
          <span> お知らせ一覧 </span>
        <% end %>
      </li>
    </ul>
  </div>
</div>