<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <%= link_to new_user_broadcast_path do %>
          <button type="button" class="btn btn-success mr-2"><i class="fa fa-plus"></i> 新規作成</button>
        <% end %>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped index">
          <%# Header %>
            <thead>
              <tr>
                <th width="15%">日時</th>
                <th width="30%">タイトル</th>
                <th width="10%">状況</th>
                <th width="25%">配信先</th>
                <th width="15%"></th>
              </tr>
            </thead>
            <%# Data %>
            <tbody>
              <% @broadcasts.each do |broadcast| %>
                <tr>
                  <td class="text-center">
                    <%= formatted_time(broadcast.deliver_at) || '未配信' %>
                  </td>
                  <td><%= broadcast.title %></td>
                  <td class="text-center"><%= render_broadcast_status(broadcast.status).html_safe %></td>
                  <td><span class="text-center d-flex flex-wrap justify-content-center align-items-center"><%= render_broadcast_condition(broadcast).html_safe %></span></td>
                  <td class="text-left">
                    <%= link_to user_broadcast_path(broadcast), class: "btn btn-primary btn-xs mr-2" do %>
                      詳細
                    <% end %>
                    <% if broadcast.editable? %>
                      <%= link_to edit_user_broadcast_path(broadcast), class: "btn btn-primary btn-xs mr-2" do %>
                        編集
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%# Pagination %>
        <div class="d-flex justify-content-center mt-4">
          <% if @broadcasts.size == 0 %>
            <b>データはありません。</b>
          <% end %>
          <%= paginate @broadcasts %>
        </div>
      </div>
    </div>
  </div>
</div>
