<div class="row" >
  <div class="col-12">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <%= link_to admin_users_path, class: "text-info" do %>
          <i class="fa fa-arrow-left"></i>
          Back to list
        <% end %>
        <h5 class="m-auto font-weight-bold">User detail</h5>
      </div>
      <div class="card-body row">
        <div class="offset-xl-3 col-xl-6 text-center">
          <div class="table-responsive">
            <table class="table table-bordered table-striped mt-3 text-left">
              <tbody>
                <tr>
                  <th class="w-200">ID</th>
                  <td class="text-prewrap"><%= @user.id %></td>
                </tr>
                <tr>
                  <th class="fw-300">メールアドレス</th>
                  <td><%= @user.email %></td>
                </tr>
                <tr>
                  <th class="fw-300">氏名</th>
                  <td><%= @user.name %></td>
                </tr>
                <tr>
                  <th class="fw-300">address</th>
                  <td><%= @user.address %></td>
                </tr>
                <tr>
                  <th class="fw-300">phone_number</th>
                  <td><%= @user.phone_number %></td>
                </tr>
                <tr>
                  <th class="fw-300">company_name</th>
                  <td><%= @user.company_name %></td>
                </tr>
                <tr>
                  <th>状況</th>
                  <td>
                    <span class="badge <%= @user.status.eql?('actived') ? 'badge-success' : (@user.status.eql?('blocked') ? 'badge-danger' : 'badge-warning') %>"><%= @user.status_i18n %></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card-footer d-flex">
        <%= link_to "編集", edit_admin_user_path(@user), class: "btn btn-info m-auto" %>
      </div>
    </div>
  </div>
</div>